// COLORS
$primary-color: hsl(147, 100%, 20%);
$secondary-color: hsl(147, 100%, 20%);

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: hsl(122, 18%, 15%);

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
